.tattoo-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.tattoo-loader-content {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.glitch-text {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    position: relative;
    color: #fff;
}

.glitch-text::before,
.glitch-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.glitch-text::before {
    left: 2px;
    text-shadow: -1px 0 #ccff00;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch-text::after {
    left: -2px;
    text-shadow: -1px 0 #ff003c;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0 80% 0);
    }

    20% {
        clip-path: inset(60% 0 10% 0);
    }

    40% {
        clip-path: inset(40% 0 50% 0);
    }

    60% {
        clip-path: inset(80% 0 5% 0);
    }

    80% {
        clip-path: inset(10% 0 70% 0);
    }

    100% {
        clip-path: inset(30% 0 20% 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(10% 0 60% 0);
    }

    20% {
        clip-path: inset(30% 0 10% 0);
    }

    40% {
        clip-path: inset(80% 0 5% 0);
    }

    60% {
        clip-path: inset(15% 0 80% 0);
    }

    80% {
        clip-path: inset(50% 0 20% 0);
    }

    100% {
        clip-path: inset(5% 0 90% 0);
    }
}

.loader-bar {
    width: 200px;
    height: 2px;
    background: #333;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;
}

.loader-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    width: 0%;
    transition: width 0.1s linear;
}